* {
    font-family: 'Fredoka One', cursive;
    box-sizing: border-box;

}
header{
    text-align: center;
    margin-top:7em;
    max-width: 1600px;
}
h1 {
    color:rgb(229, 49, 112) ;
}   
.lorem{
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    margin: 3em 5em;
}
.container {
    margin:0;
    width: 100%;
    max-width: 1600px;
    padding: 10px;
    
}
.profiles {
    width:calc(100% / 3 - 6px);
    background-color: black;
    float: left;
    vertical-align: middle;
    color: white;
    margin: 3px;
    box-shadow: 0 0 10px 1px #000000;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
img {
    float: left;
    margin-right:20px;
    height: 110px;
    }
h5 {
    font-family: 'Fredoka', sans-serif;
}
a{
    text-decoration: none;
    color:#48bde0;
    font-family: 'Fredoka', sans-serif;
}
h5,h3,a{
    margin-bottom: 1em;
}
h3{
    margin-top: 0.5em;
}






